<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <title><%= title %></title>
</head>
<body>
  <nav>
    <a href="/recipes/new" <%- title === 'Add Recipe' ? 'class="active"' : '' %>>ADD RECIPE</a>
    <a href="/cocktails/new" <%- title === 'Add Cocktail' ? 'class="active"' : '' %>>ADD COCKTAIL</a>
    <a href="/cocktails" <%- title === 'All Cocktails' ? 'class="active"' : '' %>>ALL COCKTAILS</a>
  </nav>
  <main>
    <h1><%= title %></h1>