<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Baloo+Bhai+2&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>barTender</title>
</head>
<body>
  <nav>
    <a href="/">Favorites</a>
    <a href="/cocktails/search" <%- title === 'Search Cocktails' ? 'class="active"' : '' %>>Search Cocktails</a>
  </nav>
  <form action="/users" method="GET"></form><br>
  <h1>barTender</h1>
  <h2>Favorites</h2>
  <ul class="right">
    <li>
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
        </li>
      </ul>
  <div class="favs">
    <% if (user) { %>
      <% user.favoriteDrinks.forEach(function(d, idx) { %>
        <br><br><br>
        <div class="indexName">
          <%= d.drinkName %></div>
          <br><br><br><div class="img">
            <img src="<%= d.image %>" alt=""></div>
            <br>
            <div class="tried">
              <label>Tried It:
              </label>
              <td><%= d.haveTried ? 'Yes' : 'No' %></td>   
              <br><br>
              </div>
              <td><a href="/cocktails/<%= d._id %>">Details</a></td>
              <br><br>
              <form action="/cocktails/<%= idx %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
              <br><br><br>
              <% }) %>
              <% } %>
            </div>
</body>
</html>