<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>barTender</title>
</head>
<body>
  <nav>
    <a href="/">Favorites</a>
    <a href="/cocktails/search" <%- title === 'Search Cocktails' ? 'class="active"' : '' %>>Search Cocktails</a>
  </nav>
  <ul class="right">
    <li>
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
        </li>
      </ul>
      <form action="/users" method="GET"></form>
      <h1>barTender</h1>
      <% if (user) { %>
      <div>
        <% user.favoriteDrinks.forEach(function(d, idx) { %>
          <%= d.drinkName %>
          <br>
          <img src="<%= d.image %>" alt="">
          <br>
          <%= d.instructions %>
          <br>
          <%= d.glass %>
          <br>
          <%= d.ingredient1 %> 
          <%= d.measure1 %>
          <br>
          <%= d.ingredient2 %> 
          <%= d.measure2 %>
          <br>
          <%= d.ingredient3 %> 
          <%= d.measure3 %>
          <br>
          <%= d.ingredient4 %> 
          <%= d.measure4 %>
          <br>
          <%= d.ingredient5 %> 
          <%= d.measure5 %>
          <br>
          <%= d.ingredient6 %> 
          <%= d.measure6 %>
          <br>
          <%= d.ingredient7 %> 
          <%= d.measure7 %>
          <br>
          <%= d.ingredient8 %> 
          <%= d.measure8 %>
          <br>
          <%= d.ingredient9 %> 
          <%= d.measure9 %>
          <br>
          <%= d.ingredient10 %> 
          <%= d.measure10 %>
          <br>
          <form action="/cocktails/<%= idx %>?_method=PUT" method="POST">
            <input type="text"name="d" value="<%= d.drink %>">
            <input type="checkbox" name="tried" value="tried" <%= d.tried ? 'checked' : '' %>>
            
            <div><%= d.drink %>
              --
              <a href="/cocktails/<%= idx %>">Edit Cocktail</a>
              <%= d.tried ? 'Have Tried' : 'Have Not Tried' %>
             </div><br>
            
            <button type="submit">Update</button>
          </form>
          <br>
          <form action="/cocktails/<%= idx %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
        <% }) %>
      </div>
      </form>
      <% } %>
</body>
</html>


