<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>barTender</title>
</head>
<body>
  <nav>
    <a href="/">Favorites</a>
    <a href="/cocktails/search" <%- title === 'Search Cocktails' ? 'class="active"' : '' %>>Search Cocktails</a>
  
  <ul class="right">
    <li>
      <% if (user) { %>
        <a href="/logout"><i class="material-icons left"></i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i class="material-icons left"></i>Login with Google</a>
          <% } %>
        </li>
      </ul>
    </nav>
      <form action="/users" method="GET"></form>
      <h1>barTender</h1>
      <% if (user) { %>
      <div>
        <% user.favoriteDrinks.forEach(function(d, idx) { %>
          <br><br><br>
          <%= d.drinkName %>
          <br><br><br>
          <img src="<%= d.image %>" alt="">
          <br>
          <label>Tried It:
          </label>
          <td><%= d.haveTried ? 'Yes' : 'No' %></td>   
          <br><br>
          <td><a href="/cocktails/<%= d._id %>">Details</a></td>
          <br><br>
          <form action="/cocktails/<%= idx %>?_method=DELETE" method="POST"><button type="submit">Delete</button></form>
          <br><br><br>
        <% }) %>
      </div>
      </form>
      <% } %>
      <script type="text/javascript" src="js/materialize.min.js"></script>
</body>
</html>