<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link href="https://fonts.googleapis.com/css?family=Amatic+SC&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="/stylesheets/main.css" />
  <title>barTender</title>
</head>
<body>
  <nav>
    <a href="/">Favorites</a>
    <a href="/cocktails/search" <%- title === 'Search Cocktails' ? 'class="active"' : '' %>>Search Cocktails</a>
    <form action="/users" method="GET"></form><br>
      <% if (user) { %>
        <a href="/logout"><i></i>Log Out</a>
        <% } else { %>
          <a href="/auth/google"><i></i>Login with Google</a>
          <% } %>
        <h4>barTender</h4>
    </nav><br><br><br><br>
  <h2>Favorites</h2>
  <% if (user) { %>
    <div class="favscard">
      <% user.favoriteDrinks.forEach(function(d, idx) { %>
        
        <div class="nameDrink">
          <%= d.drinkName %></div>
          <br><br><br><div class="imageDrink">
            <img src="<%= d.image %>" alt=""></div>
        <div class="tried">
            <label>Tried It:</label>
            <td><%= d.haveTried ? 'Yes' : 'No' %></td>
        </div>
            <td><a href="/cocktails/<%= d._id %>" class="detailbtn">Details</a></td>
              <form action="/cocktails/<%= idx %>?_method=DELETE" method="POST"><button type="submit" class="btn">Delete</button></form>
      <% }) %>
    <% } %>
        </div>
</body>
</html>